%form#fileupload{:action => "//jquery-file-upload.appspot.com/", :enctype => "multipart/form-data", :method => "POST"}
  / Redirect browsers with JavaScript disabled to the origin page
  %noscript &lt;input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"&gt;
  / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
  .row.fileupload-buttonbar
    .col-lg-7
      / The fileinput-button span is used to style the file input field as button
      %span.btn.btn-success.fileinput-button
        %i.glyphicon.glyphicon-plus
        %span Add files...
        %input{:multiple => "multiple", :name => "files[]", :type => "file"}/
      %button.btn.btn-primary.start{:type => "submit"}
        %i.glyphicon.glyphicon-upload
        %span Start upload
      %button.btn.btn-warning.cancel{:type => "reset"}
        %i.glyphicon.glyphicon-ban-circle
        %span Cancel upload
      %button.btn.btn-danger.delete{:type => "button"}
        %i.glyphicon.glyphicon-trash
        %span Delete
      %input.toggle{:type => "checkbox"}/
      / The global file processing state
      %span.fileupload-process
    / The global progress state
    .col-lg-5.fileupload-progress.fade
      / The global progress bar
      .progress.progress-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
        .progress-bar.progress-bar-success{:style => "width:0%;"}
      / The extended global progress state
      .progress-extended  
  / The table listing the files available for upload/download
  %table.table.table-striped{:role => "presentation"}
    %tbody.files
