!!!
/
  \/*
  * jQuery File Upload Plugin Demo 9.1.0
  * https://github.com/blueimp/jQuery-File-Upload
  *
  * Copyright 2010, Sebastian Tschan
  * https://blueimp.net
  *
  * Licensed under the MIT license:
  * http://www.opensource.org/licenses/MIT
  */
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Force latest IE rendering engine or ChromeFrame if installed
    /[if IE]
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    %meta{:charset => "utf-8"}/
    %title jQuery File Upload Demo
    %meta{:content => "File Upload widget with multiple file selection, drag&drop support, progress bars, validation and preview images, audio and video for jQuery. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap styles
    %link{:href => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Generic page styles
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / blueimp Gallery styles
    %link{:href => "//blueimp.github.io/Gallery/css/blueimp-gallery.min.css", :rel => "stylesheet"}/
    / CSS to style the file input field as button and adjust the Bootstrap progress bars
    %link{:href => "css/jquery.fileupload.css", :rel => "stylesheet"}/
    %link{:href => "css/jquery.fileupload-ui.css", :rel => "stylesheet"}/
    / CSS adjustments for browsers with JavaScript disabled
    %noscript
      %link{:href => "css/jquery.fileupload-noscript.css", :rel => "stylesheet"}/
    %noscript
      %link{:href => "css/jquery.fileupload-ui-noscript.css", :rel => "stylesheet"}/
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-fixed-top .navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "https://github.com/blueimp/jQuery-File-Upload"} jQuery File Upload
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "https://github.com/blueimp/jQuery-File-Upload/tags"} Download
            %li
              %a{:href => "https://github.com/blueimp/jQuery-File-Upload"} Source Code
            %li
              %a{:href => "https://github.com/blueimp/jQuery-File-Upload/wiki"} Documentation
            %li
              %a{:href => "https://blueimp.net"} © Sebastian Tschan
    .container
      .clearfix
        .pull-left
          %h1 jQuery File Upload Demo
          %h2.lead Basic Plus UI version
        %p.pull-right
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-4004031949998028", "data-ad-slot" => "8543690390", :style => "display:inline-block;width:320px;height:100px"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
      %ul.nav.nav-tabs
        %li
          %a{:href => "basic.html"} Basic
        %li
          %a{:href => "basic-plus.html"} Basic Plus
        %li.active
          %a{:href => "index.html"} Basic Plus UI
        %li
          %a{:href => "angularjs.html"} AngularJS
        %li
          %a{:href => "jquery-ui.html"} jQuery UI
      %br/
      %blockquote
        %p
          File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for jQuery.
          %br/
          Supports cross-domain, chunked and resumable file uploads and client-side image resizing.
          %br/
          Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.
      %br/
      / The file upload form used as target for the file upload widget
      %form#fileupload{:action => "//jquery-file-upload.appspot.com/", :enctype => "multipart/form-data", :method => "POST"}
        / Redirect browsers with JavaScript disabled to the origin page
        %noscript
          %input{:name => "redirect", :type => "hidden", :value => "https://blueimp.github.io/jQuery-File-Upload/"}/
        / The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
        .row.fileupload-buttonbar
          .col-lg-7
            / The fileinput-button span is used to style the file input field as button
            %span.btn.btn-success.fileinput-button
              %i.glyphicon.glyphicon-plus
              %span Add files...
              %input{:multiple => "multiple", :name => "files[]", :type => "file"}/
            %button.btn.btn-primary.start{:type => "submit"}
              %i.glyphicon.glyphicon-upload
              %span Start upload
            %button.btn.btn-warning.cancel{:type => "reset"}
              %i.glyphicon.glyphicon-ban-circle
              %span Cancel upload
            %button.btn.btn-danger.delete{:type => "button"}
              %i.glyphicon.glyphicon-trash
              %span Delete
            %input.toggle{:type => "checkbox"}/
            / The global file processing state
            %span.fileupload-process
          / The global progress state
          .col-lg-5.fileupload-progress.fade
            / The global progress bar
            .progress.progress-striped.active{"aria-valuemax" => "100", "aria-valuemin" => "0", :role => "progressbar"}
              .progress-bar.progress-bar-success{:style => "width:0%;"}
            / The extended global progress state
            .progress-extended  
        / The table listing the files available for upload/download
        %table.table.table-striped{:role => "presentation"}
          %tbody.files
      %br/
      .panel.panel-default
        .panel-heading
          %h3.panel-title Demo Notes
        .panel-body
          %ul
            %li
              The maximum file size for uploads in this demo is
              %strong 5 MB
              (default file size is unlimited).
            %li
              Only image files (
              %strong> JPG, GIF, PNG
              ) are allowed in this demo (by default there is no file type restriction).
            %li
              Uploaded files will be deleted automatically after
              %strong 5 minutes
              (demo setting).
            %li
              You can
              %strong drag &amp; drop
              files from your desktop on this webpage (see
              = succeed ")." do
                %a{:href => "https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support"} Browser support
            %li
              Please refer to the
              %a{:href => "https://github.com/blueimp/jQuery-File-Upload"} project website
              and
              %a{:href => "https://github.com/blueimp/jQuery-File-Upload/wiki"} documentation
              for more information.
            %li
              Built with the
              %a{:href => "http://getbootstrap.com/"} Bootstrap
              CSS framework and Icons from
              = succeed "." do
                %a{:href => "http://glyphicons.com/"} Glyphicons
    / The blueimp Gallery widget
    #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls{"data-filter" => ":even"}
      .slides
      %h3.title
      %a.prev ‹
      %a.next ›
      %a.close ×
      %a.play-pause
      %ol.indicator
    / The template to display files available for upload
    %script#template-upload{:type => "text/x-tmpl"}
      :cdata
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
        <td>
        <span class="preview"></span>
        </td>
        <td>
        <p class="name">{%=file.name%}</p>
        <strong class="error text-danger"></strong>
        </td>
        <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
        {% if (!i && !o.options.autoUpload) { %}
        <button class="btn btn-primary start" disabled>
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start</span>
        </button>
        {% } %}
        {% if (!i) { %}
        <button class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel</span>
        </button>
        {% } %}
        </td>
        </tr>
        {% } %}
    / The template to display files available for download
    %script#template-download{:type => "text/x-tmpl"}
      :cdata
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
        <td>
        <span class="preview">
        {% if (file.thumbnailUrl) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
        {% } %}
        </span>
        </td>
        <td>
        <p class="name">
        {% if (file.url) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
        {% } else { %}
        <span>{%=file.name%}</span>
        {% } %}
        </p>
        {% if (file.error) { %}
        <div><span class="label label-danger">Error</span> {%=file.error%}</div>
        {% } %}
        </td>
        <td>
        <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
        {% if (file.deleteUrl) { %}
        <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
        <i class="glyphicon glyphicon-trash"></i>
        <span>Delete</span>
        </button>
        <input type="checkbox" name="delete" value="1" class="toggle">
        {% } else { %}
        <button class="btn btn-warning cancel">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>Cancel</span>
        </button>
        {% } %}
        </td>
        </tr>
        {% } %}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    / The jQuery UI widget factory, can be omitted if jQuery UI is already included
    %script{:src => "js/vendor/jquery.ui.widget.js"}
    / The Templates plugin is included to render the upload/download listings
    %script{:src => "//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"}
    / The Load Image plugin is included for the preview images and image resizing functionality
    %script{:src => "//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"}
    / The Canvas to Blob plugin is included for image resizing functionality
    %script{:src => "//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"}
    / Bootstrap JS is not required, but included for the responsive demo navigation
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    / blueimp Gallery script
    %script{:src => "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"}
    / The Iframe Transport is required for browsers without support for XHR file uploads
    %script{:src => "js/jquery.iframe-transport.js"}
    / The basic File Upload plugin
    %script{:src => "js/jquery.fileupload.js"}
    / The File Upload processing plugin
    %script{:src => "js/jquery.fileupload-process.js"}
    / The File Upload image preview & resize plugin
    %script{:src => "js/jquery.fileupload-image.js"}
    / The File Upload audio preview plugin
    %script{:src => "js/jquery.fileupload-audio.js"}
    / The File Upload video preview plugin
    %script{:src => "js/jquery.fileupload-video.js"}
    / The File Upload validation plugin
    %script{:src => "js/jquery.fileupload-validate.js"}
    / The File Upload user interface plugin
    %script{:src => "js/jquery.fileupload-ui.js"}
    / The main application script
    %script{:src => "js/main.js"}
    / The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9
    /[if (gte IE 8)&(lt IE 10)]
      <script src="js/cors/jquery.xdr-transport.js"></script>
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41071247-1', 'blueimp.github.io');
      ga('send', 'pageview');
