// Use it like this:
// 1. extend a ractive component with ConfirmDeleteModal to add the show_confirm_delete_modal method
// 2. make the 'on-click' handler for the delete icon 'show_confirm_delete_modal()'
// 3. add a computed attribute to the object called delete_confirmation_message
// 4. ensure that the object has a url attribute as a rack endpoint for delete
// 5. ensure that the callback action for the delete method is called "delete_callback"
// 6. ensure that the object does not have its own delete method
#confirm_delete_modal_container

%script#confirm_delete_modal_template{:type => 'template/ractive'}
  .modal.fade#confirm-delete
    .modal-dialog.modal-sm
      .modal-content
        .modal-body
        .modal-footer
          %a.btn.btn-sm.btn-default#cancel{:type => :button, 'data-dismiss'=>'modal'}= t('cancel')
          %a.btn.btn-sm.btn-danger.btn-ok#confirm{'on-click' => 'delete_item()'}= t('delete')
