// include this inside a ractive view template with:
// {{> file_selector_template {key : 'project'} }}
// where the key modifies the fileinput id and name attributes
%script#file_selector_template{:type => 'template/ractive'}
  .row.fileupload
    .col-md-2
      %span.btn.btn-xs.btn-success.fileinput-button
        %i.fa.fa-plus.fa-lg{ :style => "color:white"}
        %span= t('add_document')
      %input.hidden_fileinput{:id => "{{key}}_fileinput", :multiple => "multiple", :name => "{{key}}_file", :type => "file", :decorator=>:ractive_fileupload}
    .col-md-10.fileupload_progress
      <progressBar />

%script#progress_bar_template{:type => 'template/ractive'}
  .fileupload-progress.fade
    .progress.progress-striped.active{:role => "progressbar"}
      .progress-bar.progress-bar-success{:style => "width:0%;"}
    .progress-extended  

%script#attached_documents_template{:type => 'template/ractive'}
  {{#if attached_documents}}
  .row
    .col-md-6.title=t('.title')
    .col-md-4.filename=t('.filename')
  {{/if}}
  {{#attached_documents}}
  <attachedDocument parent='{{parent}}', parent_named_document_datalist='{{parent_named_document_datalist}}' id='{{id}}' file='{{file}}' title='{{title}}' file_id='{{file_id}}' filename='{{filename}}' />
  {{/attached_documents}}
  {{^attached_documents}}
  %div{:style => 'padding-left:15px;'}=t('.no_documents')
  {{/attached_documents}}

%script#attached_document_template{:type => 'template/ractive'}
  {{#if persisted}}
  {{> show_attached_document_template {parent : parent, parent_named_document_datalist : parent_named_document_datalist} }}
  {{else}}
  {{> new_attached_document_template {parent : parent, parent_named_document_datalist : parent_named_document_datalist} }}
  {{/if}}

%script#show_attached_document_template{:type => 'template/ractive'}
  %div{:class => "{{parent}}_document"}
    .row
      .col-md-6.title {{title}}
      .col-md-4.filename {{filename}}
      .col-md-1
        %i.fa.fa-cloud-download{'on-click' => 'download_attachment()'}
      .col-md-1.delete
        %i.fa.fa-sm.fa-trash-o.delete_icon{'on-click'=>'delete_document()'}

%script#new_attached_document_template{:type => 'template/ractive'}
  .row.document
    .col-md-6.title
      %input.form-control#attached_document_title{:type => :text, :value=>'{{title}}', :list => '{{parent}}_named_documents'}
      %datalist{:id => '{{parent}}_named_documents'}
        {{#parent_named_document_datalist}}
        %option{:value=>'{{.}}'} {{.}}
        {{/parent_named_document_datalist}}
      .errors.form-group{:class => "{{#file.size_error}}has-error{{/}}"}
        %span.help-block.error#filesize_error= t('error_messages.too_large')
      .errors.form-group{:class => "{{#file.type_error}}has-error{{/}}"}
        %span.help-block.error#filetype_error= t('error_messages.unpermitted_type')
      .errors.form-group{:class => "{{#unconfigured_filetypes_error}}has-error{{/}}"}
        %span.help-block.error#unconfigured_filetypes_error= t('error_messages.noFileTypes')
    .col-md-4.filename{:style => "overflow-wrap:break-word"} {{filename}}
    .col-md-2
      %i.fa.fa-remove.remove{'on-click' => 'remove_file()'}

:coffeescript
  @AttachedDocument = Ractive.extend
    template : "#attached_document_template"
    oninit : ->
      @set 'validation_criteria',
        'file.size' :
          ['lessThan', @get('maximum_filesize')]
        'file.type' :
          ['match', @get('permitted_filetypes')]
      @set('unconfigured_validation_parameter_error',false)
      @validator = new Validator(@)
      @validator.validate()
    computed :
      persistent_attributes : ->
        ['title', 'filename', 'file', 'original_type'] unless @get('id')
      unconfigured_filetypes_error : ->
        @get('unconfigured_validation_parameter_error')
      persisted : ->
        !_.isNull(@get('id'))
    remove_file : ->
      @parent.remove(@_guid)
    delete_document : ->
      data = {'_method' : 'delete'}
      # TODO if confirm
      $.ajax
        method : 'post'
        url : @get('url')
        data : data
        success : @delete_callback
        dataType : 'json'
        context : @
    delete_callback : (data,textStatus,jqxhr)->
      @parent.remove(@_guid)
    download_attachment : ->
      window.location = @get('url')

  @AttachedDocuments = Ractive.extend
    template : "#attached_documents_template"
    components :
      attachedDocument : AttachedDocument
    remove : (guid)->
      guids = _(@findAllComponents('attachedDocument')).pluck('_guid')
      index = _(guids).indexOf(guid)
      @splice('attached_documents',index,1)
