// include this inside a ractive view template with:
// {{> file_selector_template {key : 'project'} }}
// where the key modifies the fileinput id and name attributes
%script#file_selector_template{:type => 'template/ractive'}
  .row.fileupload
    .col-md-2
      %span.btn.btn-xs.btn-success.fileinput-button
        %i.fa.fa-plus.fa-lg{ :style => "color:white"}
        %span= t('add_document')
      %input.hidden_fileinput{:id => "{{key}}_fileinput", :multiple => "multiple", :name => "{{key}}_file", :type => "file", :decorator=>:ractive_fileupload}
    .col-md-10.fileupload_progress
      <progressBar />

%script#progress_bar_template{:type => 'template/ractive'}
  .fileupload-progress.fade
    .progress.progress-striped.active{:role => "progressbar"}
      .progress-bar.progress-bar-success{:style => "width:0%;"}
    .progress-extended  
