div.modal#notes_modal(class-fade='fade' tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="true" data-keyboard="true" style="z-index: 1050; display: none;" )
  div.modal-dialog.modal-xl
    div.modal-content
      div.modal-header
        h4
          | {{ t.notes }}
          button.close(type="button" aria-label="Close" data-dismiss="modal")
            span(aria-hidden="true") &times;
      div.modal-body
        i.fa.fa-plus.fa-sm#add_note( data-toggle="tooltip" data-placement="bottom" title="{{ t.add_note }}" on-click='@this.new_note()')
        div#notes( style="margin-bottom:80px;")
          div.row
            h5.col-md-1( style="width:15%;")
              | {{ t.date }}
            h5.col-md-1( style="width:70%;")
              | {{ t.text }}
          | {{#notes}}
          <note url='{{url}}' parent='{{parent}}' id='{{id}}' date='{{date}}' author_name='{{author_name}}' updated_on='{{updated_on}}' editor_name='{{editor_name}}' text='{{text}}'/>
          | {{/notes}}


script(type = 'text/javascript').
  import translations from './notes_translations.js'
  import Note from './note.ractive.pug'
  import Popover from './notes_popover.js'

  Ractive.decorators.popover = Popover;

  notes = new Ractive({
    el: '#note',
    template : $TEMPLATE,
    data(){
      return {
        notes : [],
        fade : window.env !== "test",
        t : translations.t('notes.note')
      }
    },
    close(ev) {
      var self = ev.data.self
      if (self._new_note_is_active()) {
        self.pop('notes');
      }
      self.terminate_edits()
    },
    terminate_edits(){
      const notes = this.findAllComponents('note');
      _(notes).each(function(note){note.terminate_edit()});
    },
    onrender(){ $(this.find("#notes_modal")).bind('hidden.bs.modal',{self : this}, this.close)},
    components : { note : Note },
    new_note() {
      if (!this._new_note_is_active()) {
        return this.push('notes',{id:null, type:null, frequency:null, text:'', notable_id:this.get('id')});
      }
    },
    _new_note_is_active() {
      const notes = this.findAllComponents('note');
      return (notes.length > 0) && _.isNull( notes[notes.length - 1].get('id'));
    },
  });

  export { notes }
