@import 'expandable_list';
@import 'form_errors';
@import 'filter_controls';
@import 'jquery_datepicker';
@import 'bootstrap-select';

//.expandable_well .col-md-1, .expandable_well .col-md-2, .expandable_well .col-md-3, .expandable_well .col-md-4, .expandable_well .col-md-5, .expandable_well .col-md-6, .expandable_well .col-md-7, .expandable_well .col-md-8, .expandable_well .col-md-9, .expandable_well .col-md-10, .expandable_well .col-md-11, .expandable_well .col-md-12 {
  //padding-top: 0;
  //padding-bottom: 0;
//}

div[id$='_complaint_bases'] {
  .basis_name:after {
    content : ":";
  }
}

#complaints_controls input {
  width : 220px;
}

#complaints_controls .col-md-2 {
  width : 20%;
}

#complaints_controls .col-md-1 {
  width : 10%;
}

#complaints_controls .filter_rule {
  display : flex;
}

.inactive-icon {
  cursor : default;
}

.face_to_face div:nth-child(1):before {
  cursor : default;
  content: "\f007";
}
.face_to_face div:nth-child(2):before {
  cursor : default;
  content: "\f007";
  position: relative;
  left: -8px;
  color : #fff;
}
.face_to_face div:nth-child(3):before {
  cursor : default;
  content: "\f007";
  position: relative;
  left: -17px;
}

.note_icon {
  cursor : pointer;
  background-image : asset-url("note.png");
  background-size : 17px;
  background-repeat : no-repeat;
  width : 20px;
  height : 20px;
}
