// the text before editing and
// the input with which to edit
[data-toggle="edit"]{
  position: relative;

  .no_edit {
    position: relative;
  }

  .edit {
    position: absolute; // to position over the no-edit div
    top: 0px;
    left: 0px;
  }
}

.editable_container{

  div.edit.in{
    opacity: 1;
    z-index: 11;
  }

  div.edit:not(.in){
    opacity: 0;
    z-index: 9;
  }

  div.no_edit{
    opacity: 1;
    z-index:10;
  }
}


.fa {
  cursor: pointer;
}

