@import 'theme';

.expandable_well {
  background-image: -webkit-linear-gradient(top, $well_bg_light 0%, $well_bg_dark 100%);
  background-image: linear-gradient(to bottom, $well_bg_light 0%, $well_bg_dark 100%);
  border-color: $well_border;
  border-radius: 10px;
  margin-bottom: 8px;
  .col-md-1, .col-md-2, .col-md-3, .col-md-4,
  .col-md-5, .col-md-6, .col-md-7, .col-md-8,
  .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-top: 4px; padding-bottom:4px;
  }

  .panel {
    border-color: $well_border;
    background-color: $well_bg_light;

    .panel-heading {
      //@extend h5;
      background-image: -webkit-linear-gradient(top, $well_bg_light 0%, $well_bg_dark 100%);
      background-image: linear-gradient(to bottom, $well_bg_light 0%, $well_bg_dark 100%);
      color: #655F44;
      border-color: $well_border;
    }
  }
}

#expand, #compact {
  background-repeat: no-repeat;
  height: 18px;
  cursor: pointer;
  display: block;
  background-size: 12px;
  background-position-x: 50%;
}

#expand {
  background-image: asset-url("outreach_media/expand19.png"); //http://www.flaticon.com/free-icon/expand-arrows-couple_37089
}

#compact {
  background-image: asset-url("outreach_media/compress.png"); //http://www.flaticon.com/free-icon/compress-arrows-couple-symbol_36692
}

