.help-block {
  display: block;
  color: #a94442;
}

// if either the element with class 'form-group' OR the
// element with class 'help-block' also has the class 'has-error'
// the style above will prevail over the style below
.form-group:not(.has-error){
  //margin-bottom: 0px;
  span.help-block:not(.has-error) {
    display : none;
  }
}

//.form-group.has-error{
//  textarea, select, span.help-block {
//    display : inline-block;
//  }
//}

//.help-block[id$='_error']:not(.has-error)
//{
//  display : none;
//}

//.help-block[id$='_error'].has-error {
//  display : block;
//  color: #C74A4A;
//}

.form-group.errors {
  margin-top : 0;
  margin-bottom : 0;
}
