$error_red : #a94442;
.help-block {
  display: block;
  color: $error_red;
}

// if either the element with class 'form-group' OR the
// element with class 'help-block' also has the class 'has-error'
// the style above will prevail over the style below
.form-group:not(.has-error){
  //margin-bottom: 0px;
  span.help-block:not(.has-error) {
    display : none;
  }
}

.form-group.errors {
  margin-top : 0;
  margin-bottom : 0;
}

.required:after, .required_before:before{
  content : '*';
  color : $error_red;
  font-size : larger;
}
