// the item-count in a circle as a superscript to the icon with .counter class
.counter:after{
  content: attr(data-count);
  position: absolute;
  background: #fff;
  height: 1.2rem;
  top: -.7rem;
  right: -0.5rem;
  width: 1.2rem;
  text-align: center;
  line-height: 1.1rem;
  font-size: .8rem;
  border-radius: 50%;
  border: 1px solid #000;
  color: #000;
}
.counter[data-count="0"]:after{
  display : none;
}
//yuk! special case, can we eliminate it?
.icc_reference_document .alarm_icon.counter:after{
  right:1em;
}

.alarm_icon {
  background-image: asset-url("corporate_services/alarm.png");
  background-repeat: no-repeat;
  height: 16px;
  cursor: pointer;
  position: relative;
  width: 16px;
}

// the "rules" icon
.rule {
  background-image: asset-url("corporate_services/ruler.png");
  background-repeat: no-repeat;
  background-size: 16px;
  cursor: pointer;
  height: 16px;
}

// ICONS

@mixin colorhover($baseColor) {
  color: $baseColor;
  &:hover{
    color: darken($baseColor, 10%);
  }
}

.fileupload-buttonbar .icon {
  color: $light_on_dark;
}

.fa-info-circle {
  @include colorhover($dark_blue)
}

.close .fa-remove {
  color: black;
}

.fa-trash-o, .fa-remove, .fa-ban {
  @include colorhover($red)
}

.fa-plus, .fa-check {
  @include colorhover($green)
}

.fa-cloud-download {
  @include colorhover($dark_blue)
}

/* the next two change the icon from a closed folder to an open folder */
div[aria-expanded='false'] .fa-folder-o:before {
  content: "\f114";
}

[aria-expanded='true'] .fa-folder-o:before {
  content: "\f115";
}

.editable { /* so that switch to edit leaves text in precise same position */
  padding-left:3px;
  padding-top:3px;
}

.note_icon {
  cursor : pointer;
  background-image : asset-url("note.png");
  background-size : 17px;
  background-repeat : no-repeat;
  width : 20px;
  height : 20px;
  position : relative;
}

.edit_icon {
  @extend .fa;
  @extend .fa-pencil-square-o;
  @extend .fa-lg;
}

.monitor_icon {
  @extend .fa;
  @extend .fa-eye;
  @extend .counter;
  position : relative;
}

.delete_icon {
  @extend .fa;
  @extend .fa-trash-o;
  @extend .fa-lg;
}

.delete_icon_sm {
  @extend .fa;
  @extend .fa-trash-o;
  font-size : 16px;
}
