$banner_bg: #b52138;
$banner_border: #FCCD0F;

.navbar-brand {
  background-image: asset-url('banner_logo.png');
  background-repeat: no-repeat;
  background-size: 56px;
  width: 69px;
  margin-left: 0px !important; // b/c bootstrap seems to be forcing -15px!
}


// define all the colors for the navbar menu, top-level items
$nav_text : #F2F2E7;
// hover
$nav_hover: lighten($banner_bg, 8%);
$nav_hover_text : lighten($nav_text, 8%);
// active
$nav_active: lighten($nav_hover, 8%);
$nav_active_text : #645252;

.navbar {
  border: none;
  background-color: $banner_bg;
}

.container-fluid {
  background-color: $banner_bg;
  padding-left: 0px;
  padding-right: 0px;
}

// active
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $nav_active;
  color : $nav_text;
}

.navbar-default .navbar-nav > .active > a {
  background-color: $nav_active;
  background-image: none; // b/c bootstrap has a gradient image that the background-color here cannot override
  color : $nav_text;
}

// Normal
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
  color : $nav_text;
}

// hover
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: $nav_hover;
  color : $nav_text;
}

//menu open
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $nav_hover;
  color : $nav_text;
}

// show dropdown menu on hover of menu item
.dropdown:hover .dropdown-menu {
  display: block;
}

// login page
#banner {
  background-color: $banner_bg;
  position: relative;
  padding-left: 130px;
  -webkit-box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  -moz-box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  box-shadow: 9px 4px 34px 0px rgba(0,0,0,0.57);
  top: -60px; // b/c body padding is 60px
  border-color: $banner_border;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  width: 100%;
}

#main {
  font-family:sans-serif;
  font-size:46px;
  font-weight: bold;
  color: #dbaa47;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
}

#sub { 
  font-family: times;
  font-size:24px;
  color: #E4E2D9;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}
