.attribution {
  font-size: 0.5em;
  margin-left: 80px;
  position: absolute;
  bottom: 100%;
}

.highlight {
  background-color : #ffff99 !important;
}

.error {
  color : $error_red;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity : 0.70;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity : 0.70;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity : 0.70;
}
:-moz-placeholder { /* Firefox 18- */
  opacity : 0.70;
}
