$light_on_dark: #F2F2E7;
$dark_blue: #337AB7;
$green : #5CB85C;
$red : #C12E2A;
$banner_bg: #b52138;
$banner_border: #FCCD0F;
$banner_main_text: #dbaa47;
$banner_sub_text: #E4E2D9;
$site_bg: #DBD2AB;
$h1: #DBD2AB;
$well_bg_light: #dbd2ab;
$well_bg_dark: #d8cd9f;
$well_border: #aba58d;

.navbar-brand {
  background-image: asset-url('banner_logo.png');
  background-repeat: no-repeat;
  background-size: 56px;
  width: 69px;
  margin-left: 0px !important; // b/c bootstrap seems to be forcing -15px!
}
